.Toastify__toast--success {
    --toastify-color-success: #065313;
}

.PiShoppingCartSimpleDuotone{
    transform: scale(2.5);
}

.trash{
    cursor: pointer; 
    color: #931515;
}

.trash:hover{
    color: rgb(211, 14, 14) ;
}

@media (max-width: 767px) {
    .col-responsive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .total-price{
        margin: 25px 0px;
    }
}

@media (min-width: 768px) {
    .prueba{
        width: 70%;
        height: auto;
    }
}

.icon-link-hover .icon {
    transition: transform 0.3s ease;
}

.icon-link-hover:hover .icon {
    transform: translateX(-5px);
    color: #389cc3;
}

.icon-link-hover:hover{
    color: #389cc3;
}

.icon-link-hover-empty .icon-empty {
    transition: transform 0.3s ease;
}

.icon-link-hover-empty:hover .icon-empty {
    transform: translateX(-5px);
}